* {
    padding: 0;
    box-sizing: border-box;
}

.text{
    margin: 5%;
    margin-top: 10%;
    text-align: center;
}

.mobile {
    text-align: left;
    margin: 5%;
}

.name{
    font-size: 2rem;
}

.title-p{
    font-size: 1.2rem;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 5%;
    border-radius: 8%;
    background-color: #CCCCCC;
}


.first-block{
    padding-bottom: 1%;
    margin-top: 5%;
}

.other-block{
    padding-bottom: 1%;
    margin-top: 5%;
}


.img img{
    border-radius: 50%;
    margin: 5% 5% 5%;
    width: 25%;
    border-radius: 50%;
}

.img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.div-bottom{
    text-align: left;
    margin: 5%;
}

ul {
    margin: 5%;
}

.conclusion{
    font-size: 18px;
    text-align: center;
}


.p-desktop{
    display: none;
}

@media screen and (min-width: 600px) {

    .container {
        flex-flow: row wrap;
        justify-content: center;
    }

    .mobile {
        display: none;
    }

    .p-desktop{
        display: block;
        text-align: left;
        margin: 5%;
    }

    .card {
        width: 40vw;
        margin: 2.5%;
    }

}