.card {
    display: flex;
    flex-direction: column;
    background: #89959b;
    height: 55vh;
    margin: 3rem 1rem 1rem 1rem;
    border-radius: 20px;
}

.card-img img{
    border-radius: 20px;
    width: 100%;
    height: 21vh;
    object-fit: cover;
}

.card-name {
    background-color:#cccc;
    border-radius: 20px;
    margin: 3% 15%;
    text-align: center;
}

.card-text-description {
    background-color: #cccc;
    border-radius: 25px;
    padding: 0 5%;
    margin: 0 3%;
    text-align: center;
}

.information{
    display: flex;
    margin: 3%;
    justify-content: space-around;
    align-items: flex-end;
}

.budget {
    background-color: #cccc;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 5vh;
    border-radius: 20px;
}

.budget-container {
    width: 100%;
    padding: 0 15%;
}

.card-button {
    background-color: #ace1fd;
    height: 5vh;
    border-radius: 20px;
}  

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    position: relative;
    width: 80vw;
    height: 50vh;
    border-radius: 5px;
    background-color: #f5f5f5;
    overflow: auto;
    cursor: default;
}

.modal-dialog > * {
    padding: 1rem;
}

.modal-header{
    background-color: #ace1fd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-modal {
    border-radius: 5px;
}

.modal-content {
    display: flex;
    flex-flow: column wrap;
}

.modal-content > input {
    margin-bottom: 5%;
}

.modal-content > button {
    background-color: #ace1fd;
    border-radius: 20px;
    width: 40%;
    height: 5vh;
    margin: 2% 0 0 50%;
}

.modal-footer {
    background-color: #3d3d3b;
    width: 100%;
}

.link-activities {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
} 

.link-activities > a {
    text-decoration: none;
    color: #181818;
    background-color: #ace1fd;
    border-radius: 20px;
    padding: 2%;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


@media screen and (min-width: 600px) {

    /************* NAVBAR Mobile qui disparait *****************/
    .navbar-container {
        display: none;
    }

    /****************** NAVBAR DESKTOP qui apparait *****************/
    .nav-desktop {
        display: flex;
        justify-content: space-between;
        height: 10vh;
        width: 100vw;
        background-color: #ace1fd;
        position: absolute;
    }

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
    }

    .logo-desktop {
        width: 50%;
    }

    #dateDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45vw;
    }


    .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 45vw;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .menu {
        position: relative;
    }

    .menu > a {
        text-decoration: none;
        color: #181818;
    }

    .submenu {
        height: 100%;
    }

    .btn-submenu {
      outline: none;
      border: none;
      background-color: inherit;
      color: #181818;
      height: 100%;  
    }

    .submenu:hover .submenu-content {
        display: block;
    }

    .submenu-content {
        display: none;
        position: absolute;
        z-index: 100;
        padding: 25px;
        background-color: #ace1fd;
        opacity: .8;
        border-radius: 10%;
        
    }

    .submenu-content > a {
        margin: 10% 0;
        text-decoration: none;
        color: #181818;
        height: 100%;
    }

    /**************** Image du header *********************/

    .header {
        display: none;
    }

    /*.header .container-img {
        height: 60vh;
    }

    .header .container-img  img{
        height: 100%;
        width: 100vw;
    }*/

    .hero .container-img {
        height: 50vh;
    }

    /****** logo **********/
    .container-logo img {
        display: none;
    }

    .hero-text {
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
    }

    .hero-text p {
        font-weight: bold;
        font-size: 55px;
        color: white;
        height: 100%;
    }

    /********* Container Cards **********/
    /*.container-cards {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-right: 10em;
        position: relative;
    }*/

    .container-cards {
        flex-flow: row wrap;
        justify-content: center;
        display: inline-flex;
        margin-bottom: 3rem;
    }

    .card {
        width: 25vw;
        margin: 2.5%;
    }
    

    /********** Firt Card ***********/
    /*.card {
        display: flex;
        max-width: 400px;
        min-width: 300px;
        margin-left: 4em;
        margin-top: 20rem;
        transition: transform .6s ease;
    }*/

    .card:hover {
        background-color: rgb(83, 81, 81);
        transition: 0.6s ease-in-out;
        transform: scale(1.2);
    }

    .card-bar-name {
        font-size: 17px;
    }

    .card-text-description {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
    }

    .budget {
        width: 8rem;
    }

    .card-name {
        background-color:#cccc;
        border-radius: 20px;
        margin: 3% 15%;
        text-align: center;
      }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: block;
        width: 100%;
        height: 10vh;
    }
}