.card {
    display: flex;
    flex-direction: column;
    background: #89959b;
    height: 55vh;
    margin: 3rem 1rem 1rem 1rem;
    border-radius: 20px;
}

.card-img img{
    border-radius: 20px;
    width: 100%;
    height: 21vh;
}

.card-resto-name {
    background-color:#cccc;
    border-radius: 20px;
    margin: 3% 15%;
    text-align: center;
}

.card-text-description {
    background-color: #cccc;
    border-radius: 25px;
    padding: 0 5%;
    margin: 0 3%;
    text-align: center;
}

.information{
    display: flex;
    margin: 3%;
    justify-content: space-around;
    align-items: flex-end;
}

.budget {
    background-color: #cccc;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 5vh;
    border-radius: 20px;
}

.budget-container {
    width: 100%;
    padding: 0 15%;
}

.card-button {
    background-color: #ace1fd;
    height: 5vh;
    border-radius: 20px;

}       



