

* {
    font-family: montserrat, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

}


             /*********************  NAV BAR  **********************/


.navbar-container {
    bottom: 0;
    /*order: 2;*/
    height: 10vh;
    width: 100%;
    background-color: #ace1fd;
    position: fixed;
}

.navbar-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    margin-left: -30px;
}

.navbar-container ul li {
    list-style: none;
    padding-top: 5px;
}

.navbar-container ul li a  {
    color: #181818;
    font-size: 25px;
    text-decoration: none;
}

ul li:first-child i {
    font-size: 30px;
}



        /*****************   MAIN CONTAINER    *************/


.container {
    order: 1;
    height: 250vh;
    width: 100%;
    background-color: #e4dcdc;
}

.header {
    width: 100%;
    height: 29vh;
}

.header .container-img img {
    width: 100%;
    height: 37vh;
    background-position:center;
    position: relative;
}

        /********************  LOGO  ********************/

.container-logo {
    height: 13vh;
    display: flex;
    justify-content: center;
}

.container-logo img {
    border-radius: 50%;
    width: 25%;
    /*height: 100%;*/
    position: absolute;

    }
    
    .container-title  {
        display: flex;
        justify-content: center;
        background-color: salmon;
        height: 10%;
        align-items: center;
    }



       /*******************  FIRST CARD  ************************/

.first-card {
    background: #89959b;
    height: 50vh;
    margin-top: 7em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2em;
    border-radius: 20px;
}

.first-card-img {
    border-radius: 20px;
    height: 20vh;
}

.first-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.first-card-bar-name {
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    padding-top: 5rm;
    padding-bottom: 10rm;
    padding-left: 1em;
    /*height: 15%;*/
}

.first-card-text-description {
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.first-card-budget {
    
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5% ;
    padding-right: 1em;
    margin-top: 2em;
    margin-left:7em ;
    margin-right:0,5em;
    background-color: rgb(163, 157, 157);
    border-radius: 20px;
    border:solid 1px black;
}
       /* A discuter */
.first-card-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    padding-right: 1em;
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 0.5em;
    background-color: rgb(163, 157, 157);
    border-radius: 20px;
    border: solid 1px black;
}       /* A discuter */



.first-card-button button {
    height: 60%;
    width: 30%;
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 20px;
}

.first-card-button a {
    border-radius: 10px;
    text-decoration: none;
    font-size: 11px;
    color: black;
}

.information {
    background-color: rgb(117, 117, 78);
}


        /**********************   SECOND CARD   ***********************/


.second-card {
    background: #89959b;
    height: 50vh;
    margin-top: 7em;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 20px;
}

.second-card-img {
    border-radius: 20px;
    height: 20vh;
}

.second-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.second-card-bar-name {
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    padding-top: 5rm;
    padding-bottom: 10rm;
    padding-left: 1em;
    /*height: 15%;*/
}

.second-card-text-description {
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.second-card-button {
    display: flex;
    justify-content: flex-end;
    height: 15%;
    padding-right: 1em;
}

.second-card-button button {
    height: 60%;
    width: 30%;
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 20px;
}

.second-card-button a {
    text-decoration: none;
    font-size: 11px;
    color: black;
}

           /*******************   THIRD CARD   *******************/


.third-card {
    background: #89959b;
    height: 50vh;
    margin-bottom: 4em;
    margin-top: 7em;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 20px;
}

.third-card-img {
    border-radius: 20px;
    height: 20vh;
}

.third-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.third-card-resto-name {
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    padding-top: 5rm;
    padding-bottom: 10rm;
    padding-left: 1em;
    /*height: 15%;*/
}

.third-card-text-description {
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.third-card-button {
    display: flex;
    justify-content: flex-end;
    height: 15%;
    padding-right: 1em;
}

.third-card-button button {
    height: 60%;
    width: 30%;
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 20px;
}

.third-card-button a {
    text-decoration: none;
    font-size: 11px;
    color: black;
}

          /************************  FOOTER  ***************************/


footer {
    background: rgb(92, 94, 97);
    height: 17vh;
    margin-top: 4em;
    display: block;
    justify-content: center;
}

.top-footer {
    width: 100%;
    height: 50%;
    background: rgb(61, 61, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/*.top-footer a {
    color: rgb(136, 29, 29);
}*/

.top-footer i  {
    color: rgb(231, 231, 221);
    font-size: 25px;
}

.low-footer {
    width: 100%;
    height: 50%;
    background: rgb(61, 61, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-footer p {
    color: whitesmoke;
    font-size: 12px;
}