

* {
    font-family: montserrat, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

}


             /*********************  NAV BAR  **********************/


.navbar-container {
    bottom: 0;
    /*order: 2;*/
    height: 10vh;
    width: 100%;
    background-color: #ace1fd;
    position: fixed;
}

.navbar-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
    margin-left: -30px;
}

.navbar-container ul li {
    list-style: none;
    padding-top: 5px;
}

.navbar-container ul li a  {
    color: #181818;
    font-size: 25px;
    text-decoration: none;
}

ul li:first-child i {
    font-size: 30px;
}



        /*****************   MAIN CONTAINER    *************/


.container {
    order: 1;
    height: 250vh;
    width: 100%;
    background-color: #e4dcdc;
}

.header {
    width: 100%;
    height: 29vh;
}

.header .container-img img {
    width: 100%;
    height: 37vh;
    background-position:center;
    position: relative;
}

        /********************  LOGO  ********************/

.container-logo {
    height: 13vh;
    display: flex;
    justify-content: center;
}

.container-logo img {
    border-radius: 50%;
    width: 25%;
    /*height: 100%;*/
    position: absolute;

    }
    
    .title  {
        display: flex;
        justify-content: center;
        background-color: #ace1fd;
        height: 5vh;
        align-items: center;  
        margin-top: 1rem;
        border-radius: 20px;
        margin-left: 1em;
        margin-right: 2em;
        color:#181818
    }



    
       /*******************  FIRST CARD  ************************/



.card {
    display: flex;
    flex-direction: column;
    background: #89959b;
    height: 55vh;
    margin: 3rem 1rem 1rem 1rem;
    border-radius: 20px;
}

.card-img img{
    border-radius: 20px;
    width: 100%;
    height: 21vh;
}

.card-resto-name {
    background-color:#cccc;
    border-radius: 20px;
    margin: 3% 15%;
    text-align: center;
}

.card-text-description {
    background-color: #cccc;
    border-radius: 25px;
    padding: 0 5%;
    margin: 0 3%;
    text-align: center;
}

.information{
    display: flex;
    margin: 3%;
    justify-content: space-around;
    align-items: flex-end;
}

.budget {
    background-color: #cccc;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 5vh;
    border-radius: 20px;
}

.budget-container {
    width: 100%;
    padding: 0 15%;
}

.card-button {
    background-color: #ace1fd;
    height: 5vh;
    border-radius: 20px;

}


          /************************  FOOTER  ***************************/


footer {
    background: rgb(92, 94, 97);
    height: 17vh;
    margin-top: 4em;
    display: block;
    justify-content: center;
}

.top-footer {
    width: 100%;
    height: 50%;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}


.top-footer i  {
    color: rgb(231, 231, 221);
    font-size: 25px;
}

.top-footer i {
    color:#181818
}

.low-footer {
    width: 100%;
    height: 50%;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-footer p {
    color:#181818;
    font-size: 12px;
}