.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.navbar-container {
    order: 2;
    height: 10vh;
    width: 100%;
    background-color: #ace1fd;
}

.navbar-container ul {
    display: flex;
    justify-content: space-around ;
    padding: 5% 0;
    margin: 0 ;
}

.navbar-container ul li {
    list-style: none;
    padding-top: 5px;
}

.navbar-container ul li i  {
    color: #181818;
    font-size: 25px;
}

        /*****************   MAIN CONTAINER    *************/

.container {
    order: 1;
    height: 90vh;
    width: 100%;
    background-color: #e4dcdc;
}

.container-img {
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    width: 20%;
    z-index: 1;
    border-radius: 50%;
    right: calc(50% - 37.5px);
    top: calc(37% - 37.5px);
}

.container-h1 {
    background-color: rgb(54, 56, 61);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-h1 h1 {
    color: white;
}





