.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.navbar-container {
    order: 2;
    height: 10vh;
    width: 100%;
    background-color: #678797;
}

.navbar-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between ;
    padding-right: 10px;
    margin-left: -30px;
}

.navbar-container ul li {
    list-style: none;
    padding-top: 5px;
}

.navbar-container ul li i  {
    color: #181818;
    font-size: 25px;
}

/*ul li:first-child i {
    color: red;
}*/



        /*****************   MAIN CONTAINER    *************/



.container {
    /*order: 1;*/
    height: 90vh;
    width: 100%;
    background-color: #e4dcdc;
}

.container-img {
    height: 40vh;
    background-color: skyblue;
    background-image: url(https://cdn.discordapp.com/attachments/891960529671843850/892406499563937832/ou_boire_pexels-oleg-magni-989711.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.container-h1 {
    background-color: rgb(80, 81, 83);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-h1 h1 {
    color: white;
}





